*,*:before, *:after{
    box-sizing: border-box;
}

header {
background-color: white;
border-bottom-width: 2px;
border-bottom-color: #cccccc;
border-bottom-style: solid;
}
body{
    margin: 0px 0px 0px 0px;
    background-image: url("./Background.png");
}
    h1 {
        background-color: #4aaaa5;
        color: white;
        padding: 15px;
        display: inline-block;
        margin-bottom: 0;
    }

    header div {
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        display: inline-block;
        text-align: right;
        position: relative;
        left: 400px;
        color: grey;
        
    }

    A:link {
        text-decoration: none;
        margin: 0px 5px;
    }

    a:link + a:link {
        border: left;
        border-color: black;
    }

    main {
        /* background-image: url("./Background.png"); */
        margin: 0px 0px 0px 0px; 
    }

        .container{
            /* padding: 100px; */
            margin: 25%;
            background-color: white;
            border-style: solid;
            border-color: black;
        
        }

        main div h2 {
            color: #4aaaa5; 
        }
        main div img {
            width: 150px;
            height: 150px;
            float: left;
        }
       
        main div p{
            background-color: white;
        }

    footer {
            position: absolute;
            height: 20px;
            right: 0;
            bottom: 0;
            left: 0;
            /* padding: 1rem; */
            background-color: #efefef;
            text-align: center;
          }
    }